/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #f0f0f0;
} */ 

#clock {
    font-size: 48px;
    color: #e0e0e0;
}

.digital_clock{
    font-family: cursive;
    text-align: center;
    margin-top: 100px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
}

h1{
    font-weight: lighter;
    font-size: 40px;
    color: #6c6c6c;
    padding-top: 30px;
}